
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
      <p>使えるID / PASS は hoge / hoge です</p>
    </div>
    <div class="col-sm-12">
      <form class="form" 
            name="form"
            ng-submit="login.login(form)"
            novalidate>
        <div class="form-group">
          <label>account</label>
          <input type="text"
                 name="username"
                 class="form-control"
                 ng-model="login.input.username"
                 required
                 autofocus />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" ng-model="login.input.password" required>
        </div>
        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
